// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$red: rgb(223, 113, 113);
$orange: rgb(231, 199, 139);
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-blue: #202435;
$mid-blue: #6689A0;
$light-blue: #B5CCDC;
$aqua-gray: #E0E8ED;

