<div class="card-toothbrush">
  <%= link_to root_path do %>
    <div style="background-image: url(<%#= cl_image_path toothbrush.photos.first.key %>);" class="toothbrush-image">
      <p class="more-info"> more info </p>
    </div>
    <% end %>
   <div class="card-toothbrush-infos">
       <div>
        <h2><%= toothbrush.title %></h2>
        <p>Reviews</p>
    </div>
        <h2 class="card-toothbrush-pricing">
        <%= toothbrush.daily_price %></h2>
        <div class="card-toothbrush-owner avatar-bordered" style="background-image:  url('assets/heart-icon.png');" id="round-avatar">
       </div>
  </div>
</div>
