<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
<<<<<<< HEAD
    Brush, rent, repeat <i class="fas fa-heart"></i>We Brush
=======
    Brush, rent, repeat <i class="fas fa-heart"></i> Brush Toguether
>>>>>>> master
  </div>
</div>
