<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('Brush1.jpg')%>);">
  <div class="container">
    <h1>Share your Toothbrush with others!</h1>
  </div>
</div>
