<h1> Browse our Beautiful Toothbrushes </h1> <br>

<div class="container">
  <div class="cards">
    <% @toothbrushes.each do |toothbrush| %>
      <%= render "shared/card", toothbrush: toothbrush %>
    <% end %>
  </div>
</div>

<%= link_to "Create an Offer", new_toothbrush_path %>
