<h1>Toothbrushes</h1>

<ul style="list-style: none;">
<% @toothbrushes.each do |toothbrush| %>
  <%# <%= render "shared/card" %>
  <li><%= link_to toothbrush.title, toothbrush_path(toothbrush) %></li>
<% end %>
</ul>

<%= link_to "Create an Offer", new_toothbrush_path %>
