<div class="container">
  <h2>Find the best toothbrush offers around you!</h2>
  <div class="cards-container">
    <div class="cards">
    </div>
    <div class='map'
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">ola
    </div>
  </div>
</div>
<div class="container">
  <%= link_to "Create an Offer", new_toothbrush_path, class: 'btn btn-info' %>
</div>
