.container{
  // height: 100px;
  text-align: center;
  // background-image: url('toothbrush-banner.jpg');
  // background-size: cover;
  // margin-left: 0px;
  // margin-right: 0px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.cards-container {
  display: flex;
  padding: 30px;
}
.cards-container .cards {
  flex-grow: 1;
}

.cards-container .map {
  position: sticky;
  top: 0;
  width: 30%;

}

.card-toothbrush {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 400px;
}

.card-toothbrush image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-toothbrush h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-toothbrush p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.toothbrush-background-image{
  height: 200px;
  width: 100%;
  background-size: cover;
}

.toothbrush-background-image:hover{
  -webkit-filter: brightness(85%);
}


.card-toothbrush .card-toothbrush-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-toothbrush-infos .card-toothbrush-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.btn {
  position: absolute;
  right: 10px;
  top: -190px;
  width: 40px;
  }

.btn:hover{
  border-color: red;
}
