.form-container {
  display: block;
  padding: 30px;
}

.form-login {
  width: 500px;
  padding-left: 20px;
}

.form-new-brush {
  // width: 100%;
  width: 600px;
}

.form-reservation {
  padding: 10px;
}
