.navbar-brush {
  // position: fixed;
  justify-content: space-between;
  background: rgb(222, 236, 245);
}

.navbar-brush .navbar-collapse {
  flex-grow: 0;
}

.navbar-brush .navbar-brand img {
  width: 40px;
  background: transparent;
}

.navbar-lewagon {
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}

#logo {
  width: 200px;
}

.big-padding {
  padding: 20px 30px;
}
