.reservations {
  padding: 35px;
  display: block;
}
.reservation {
  display: flex;
  align-items: center;
  background: white;
  padding: 8px 16px;
  border-bottom: 1px solid rgb(235,235,235);
}

.reservation img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

// .reservation:last-child {
//   border-bottom: none;
// }
.reservation .reservation-content {
  flex-grow: 1;
  padding: 0 24px;
}

.reservation p {
  margin: 0;
  line-height: 1.4;
}

.reservation small {
  color: #999999;
  font-weight: bold;
}
.reservation .reservation-actions {
  opacity: 0.5;
  display: flex;
  transition: ease .3s;
}
.reservation .reservation-actions .confirmed {
  color: green;
  font-size: 50px;
}

.reservation .reservation-actions .not-confirmed {
  color: rgb(156, 146, 55);
  font-size: 50px;
}
.reservation .reservation-actions .confirmed:hover {
  cursor: pointer;
}

.reservation .reservation-actions .not-confirmed:hover {
  cursor: pointer;
}

.reservation:hover .reservation-actions {
  opacity: 1;
}

.reservation .reservation-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.reservation .reservation-actions a:hover {
  color: #555555;
}

.card-reservation {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-reservation img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-reservation h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-reservation p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-reservation .card-reservation-infos {
  padding: 16px;
}
